# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,backend

# Database
DB_ENGINE=postgres
POSTGRES_DB=yadro_db
POSTGRES_USER=yadro_user
POSTGRES_PASSWORD=yadro_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/1

# Security / CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# Service URLs
SITE_BASE_URL=http://localhost:8000

# Admin user
SUPERUSER_EMAIL=admin@test.ru
SUPERUSER_PASSWORD=testtest
SUPERUSER_USERNAME=admin

# Demo site
DEMO_SITE_NAME=A Meditation
DEMO_SITE_SLUG=a-meditation
DEMO_SITE_DOMAIN=localhost
